<!DOCTYPE html>
<html>
<head>
    <title>Prompt Comparison and Enrightment Tool</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>

<h1>Prompt Comparison and Enrichment Tool</h1>
<h2>Prompt Results: </h2>

<form method="POST">
    Context:
    <br>
    {{ results.context }}
    <br>
    <br>
    Model Type:
    <br>
    {{ results.model_type }}
    <br>
    <br>
    <div class="container">
        <div class="section">
            <h3>Original Prompt</h3>
            Original Prompt:
            <br>
            {{ results.prompt1 }}
            <br>
            <br>
            Original Prompt Response:
            <br>
            {{ results.response1 }}
        </div>
        <div class="section">
            <h3>Enriched Prompt</h3>
            Enriched Prompt:
            <br>
            {{ results.prompt2 }}
            <br>
            <br>
            Enriched Prompt Response:
            <br>
            {{ results.response2 }}
        </div>
    </div>
    <br>
    <br>


</form>
<br>
<br>
    <a href="/">
        <button>Back</button>
    </a>
</body>
</html>
