<!DOCTYPE html>
<html>
<head>
    <title>Prompt Comparison and Enrightment Tool</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>

<h1>Prompt Comparison and Enrichment Tool</h1>
<h2>Provide a prompt and optionally some additional context.</h2>

<form method="post">
    Enter your prompt:
    <br>
    <textarea id="prompt" name="prompt" class="large-input"></textarea>
    <br>
    <br>
    Provide some context (optional):
    <br>
    <textarea id="context" name="context" class="large-input"></textarea>
    <br>
    <br>
    <input type="submit" value="Submit"> <input type="reset" value="Reset">

</form>

</body>
</html>