<!DOCTYPE html>
<html>
<head>
    <title>Model Comparison and Prompt Enrichment Tool</title>
    <!--<link href="{{ url_for('static', path='styles.css') }}" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
</head>
<body>

<h1>Model Comparison and Prompt Enrichment Tool</h1>
<h2>Provide a prompt and optionally some additional context.</h2>

<form method="post">
    Enter your prompt:
    <br>
    <textarea id="prompt" name="prompt" class="large-input"></textarea>
    <br>
    <br>
    Provide some context (optional):
    <br>
    <textarea id="context" name="context" class="large-input"></textarea>
    <br>
    <br>
    <input type="submit" value="Submit"> <input type="reset" value="Reset">

</form>
<br>
<br>
    <a href="/">
        <button>Back</button>
    </a>
</body>
</html>