<!DOCTYPE html>
<html>
<head>
    <title>Model Comparison and Prompt Enrichment Tool</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
</head>
<body>

<h1>Model Comparison and Prompt Enrichment Tool</h1>
<h2>Tool Selection</h2>

<form method="post">
    Select Model Comparison or Prompt Enrichment
    <label for="prompt">Option:</label>
    <select name="option_type" id="option_type">
        <option value="model">Model Comparison</option>
        <option value="prompt">Prompt Enrichment</option>
    </select>
    <br>
    <br>
    <input type="submit" value="Submit"> <input type="reset" value="Reset">

</form>

</body>
</html>