<!DOCTYPE html>
<html>
<head>
    <title>Model Comparison and Prompt Enrichment Tool</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
</head>
<body>

<h1>Model Comparison and Prompt Enrichment Tool</h1>
<h2>Prompt Results: </h2>

<form method="POST">
    Prompt:
    <br>
    {{ results.prompt }}
    <br>
    <div class="container">
        <div class="section">
            <h3>Model 1</h3>
            {{ results.model1_type }}:
            <br>
            <br>
            {{ results.response1 }}
        </div>
        <div class="section">
            <h3>Model 2</h3>
            {{ results.model2_type }}:
            <br>
            <br>
            {{ results.response2 }}
        </div>
    </div>
    <br>
    <br>


</form>
<br>
<br>
    <a href="/">
        <button>Back</button>
    </a>
</body>
</html>
